extends layout
block content
 h1= title
 - let gasid = toShow._id
 - let gas_type = toShow.gas_type
 - let gasquantity = toShow.quantity
 - let gascost = toShow.cost
 div
 div.row
 div(class='gasAttr mr-3') Gas ID is:
 div #{gasid}
 div.row
 div(class='gasAttr mr-3') Gas Type is:
 div #{gas_type}
 div.row
 div(class='gasAttr mr-3') Gas Quantity is:
 div #{gasquantity}
 div.row
 div(class='gasAttr mr-3') Gas Cost is:
 div #{gascost}